/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// ↓ナビゲーションバー↓
.navbar-brand{
  margin-left:160px;
}
.navbar-nav{
  margin-right:160px;
}

// ↓トップページ↓
.container{
  margin-top:20px;
}

.btn-login{
  color:#fff;
  background-color:#17a2b8;
}
.btn-signup{
  color:#fff;
  background-color:#28A845;
}

table{
  width: 100%;
}
table tr{
  border-top:solid 1px #dee2e6;

}
table th, table td{
  padding: 0.75rem;
}
.notice{
  color:green;
}
.error-box{
  color:red;
  margin-left:150px;
}
<<<<<<< HEAD
.like-btn{
  color:red;
}

=======
.like-btn {
  color:#ff0000;
}
>>>>>>> origin/main
footer{
  margin-top:50px;
  text-align:center;
}